@model saikyo_playlist.Models.PlayListManage.ManagePlayListViewModel

<style>

    .playlist-menu-elem {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 1em;
        padding: .5em 0 0em .5em;
    }

    .playlist-menu-button {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 1.2em;
    }

    .playlist-menu-desc {
        /*font-size:.9em;*/
    }

    .playlist-item-elem {
        width: max-content;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 1em;
        padding: .5em .5em .5em .5em;
    }

    .playlist-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #ced4da;
        border-radius: 5px;
        overflow: hidden;
    }

        .playlist-table tr td {
            padding: 0;
        }

        .playlist-table tr:nth-child(even) td {
            background-color: rgb(244,244,244);
        }

    .playlist-table-playerLink {
        color: black;
        text-decoration: none;
        padding: .5em 0 .5em .5em;
    }

    .playlist-table-link {
        width: 100%;
        height:100%;
        display:inline-block;
    }

    .playlist-table-playlistLink {
        position: absolute;
        top: 0;
        bottom: 0;
    }


    .playlist-table-editLink {
        color: black;
        text-decoration: none;
        padding: .5em 0 .5em 0;
    }

        .playlist-table-playerLink:hover, .playlist-table-editLink:hover {
            background-color: rgb(200,200,200);
        }

    .playlist-table-deleteLink {
        color: red;
        text-decoration: none;
        padding: .5em 0 .5em 0;
    }

        .playlist-table-deleteLink:hover {
            background-color: rgba(255,187,187,.6);
            color:red;
        }

    .playlist-thumbnail{
        margin:3px 3px 3px 10px;
        height:60px;
        border-radius:3px;
    }
</style>

<div>

    <div class="playlist-menu-elem">
        <a class="playlist-menu-button" title="URLを入力して、ライブラリにアイテムを追加します。" href="@Url.Action("AddItem","PlayList")">
            URLからライブラリに追加
        </a>
        <p class="playlist-menu-desc">URLを入力して、ライブラリにアイテムを追加します。</p>
    </div>

    <div class="playlist-menu-elem">
        <a class="playlist-menu-button" title="Youtubeの再生リストに含まれる曲をすべてライブラリに追加します。" href="@Url.Action("AddFromPlayList","PlayList")">
            再生リストのURLからライブラリに追加
        </a>
        <p class="playlist-menu-desc">Youtubeの再生リストに含まれる曲をすべてライブラリに追加します。</p>
    </div>

    <div class="playlist-menu-elem">
        <a class="playlist-menu-button" href="@Url.Action("CreatePlayList","PlayList")">
            プレイリストを作成
        </a>
        <p class="playlist-menu-desc">プレイリストを作成します。</p>
    </div>

</div>

<h1>プレイリスト一覧</h1>

@if (Model.managePlayListItems.Count == 0)
{
    @*プレイリストが存在しない*@
    <p>
        プレイリストが存在しません。
    </p>
}
else
{
    <table class="playlist-table">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col />
        </colgroup>
        <tr>
            <th></th>
            <th></th>
            <th>
                プレイリスト名
            </th>
        </tr>
        @foreach (var item in Model.managePlayListItems)
        {
            <tr>
                <td style="text-align:center;">
                    <img class="playlist-thumbnail" src="@item.FirstItemThumbNailSrcUrl" />
                </td>
                <td style="text-align:center;">
                    <a class="playlist-table-link playlist-table-editLink" href="@Url.Action("EditPlayList","PlayList",new { playListHeaderId = @item.PlayListHeaderId })">
                        編集
                    </a>
                    <a class="playlist-table-link playlist-table-deleteLink" href="@Url.Action("Delete","PlayList",new { playListHeaderId = @item.PlayListHeaderId , model = Model})"
                       onclick="return confirm('プレイリスト「@item.PlayListName」を削除します。よろしいですか？');">
                        削除
                    </a>
                </td>
                <td style="position:relative;">
                    <a class="playlist-table-playerLink playlist-table-link playlist-table-playlistLink" href="@Url.Action("Play","Player",new { playListHeaderId = @item.PlayListHeaderId })">
                        <span style="line-height:55px;">@item.PlayListName</span>
                    </a>
                </td>
            </tr>
        }
    </table>



}

